@import url("https://use.typekit.net/ghq1xso.css");

body {
  font-family: source-code-pro, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #0d0d0d;
  color: #fafafa;
}

.main {
  &__title {
    color: #fff;
    font-weight: 600;
    letter-spacing: -4px;
    font-size: 7vmin;
    margin-top: 15vh;
    text-shadow: 5px 5px 0 rgba(255, 255, 255, .1);
  }

  &__subtitle {
    color: #c9d6de;
    font-size: 4.1vmin;
    margin-top: 3vh;
  }

  @media (max-width: 600px) {
    &__title {
      letter-spacing: -1px;
    }
  }
}

.back-button {
  position: fixed;
  z-index: 9999;
  top: 15px;
  left: 15px;

  a {
    transition: all .2s linear;
    display: inline-block;
    text-decoration: none;
    background: rgba(255, 198, 0, .1);
    font-size: 16px;
    text-align: center;
    border-radius: 250px;
    width: 30px;
    padding-top: 3.5px;
    height: 30px;
    color: #ffc600;
    box-sizing: border-box;

    &:hover {
      background: #ffc600;
      color: #fff;
    }
  }
}

footer {
  text-align: center;
  color: #bbb;
  margin: 50px 0;
  line-height: 2rem;

  a {
    color: #ffc600;
  }
}

.underline {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    height: 0.75rem;

    // Position the line behind the text so that
    // it is still easily readable
    z-index: -1;

    // The SVG is added as an SVG background image
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/664131/underline.svg');
    background-repeat: no-repeat;

    // This allows the SVG to flex in size to fit
    // any length of word. If the word is short,
    // the SVG will be stretched vertically, if it
    // is long, the SVG will be stretched horizontally.
    // The jagged nature of this particular SVG works
    // with this transforming.
    background-size: cover;
  }
}
